#sidebar {
    background-color: var(--theme-primary-color-light);
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--theme-primary-color);
}

.sidebar-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 8px 3px 8px 12px;
    font-size: 14px;
    color: var(--theme-secondary-color-light);
    width: 100%;
    text-align: left;
}

.sidebar-button-selected {
    background-color: var(--theme-primary-color-dim);
}

.sidebar-button:hover {
    background-color: var(--theme-primary-color-dim);
}

.sidebar-button-title {
    padding-left: 8px;
    font-weight: 400;
    color: var(--theme-secondary-color);
}

.sidebar-button-selected-icon {
    float: right;
    font-size: 20px;
}
