:root {
    --theme-primary-color: #3c3c3c;
    --theme-primary-color-dim: #282828;
    --theme-primary-color-light: #656565;
    --theme-secondary-color: #ffffff;
    --theme-secondary-color-light: #bebebe;
}